<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>976357128584-a0l05rtni9m9apqs1f4o8bgotiifclge.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.976357128584-a0l05rtni9m9apqs1f4o8bgotiifclge</string>
	<key>API_KEY</key>
	<string>AIzaSyB1q89uxNFJPSqlMSZLhRNzFx3dZYY8SvU</string>
	<key>GCM_SENDER_ID</key>
	<string>976357128584</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.grandshop</string>
	<key>PROJECT_ID</key>
	<string>grandshop-58ec3</string>
	<key>STORAGE_BUCKET</key>
	<string>grandshop-58ec3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:976357128584:ios:0232a4b9d8498b2920e23d</string>
</dict>
</plist>